#!/usr/bin/env python2

bitmex_test = False

bitmex_auth = { 'apiKey': '',
		'secret' : ''
		}

twilio_conf = { 
	'account_sid' : '',
	'auth_token' : '',
	'tonumber' : '',
	'fromnumber' : '',
	'msgprefix' : '[BOT]'
	}

